<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yemekhane.Properties.Settings.euasConnectionString"
            connectionString="Data Source=LAPTOP-8HEO5MMP\SQLEXPRESS01;Initial Catalog=euas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>